.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    height: 410px;
    width: 400px;
    border: solid 2px none;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 15px 5px #858786;
    position: absolute;
    top: 20%;
}

.form * {
    font-family: "Poppins", sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
}

.form .heading {
    font-size: 25px;
    font-weight: 550;
    text-align: center;
    padding-top: 0.5em;

}

.labels {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.signin-input {
    display: block;
    height: 50px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.check {
    width: 20px;
    height: 50px;
}

.signup-button {
    margin-left: 18px;
    margin-top: 40px;
    width: 250px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    margin-left: 0;
}

.signup-button:hover {
    background-color: rgb(30, 55, 97);
    color: white;
}

.social {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    gap: 1em;
}

.goggle,
.facebook {
    width: 20vw;
    height: 3.5vh;
    border-radius: 5px;
    border: none;
    text-align: center;
    transition: all 0.1s linear;
    cursor: pointer;
    margin-bottom: 5px;
}

.goggle:active,
.facebook:active {
    transform: translateY(2px);
}

.goggle:hover,
.facebook:hover {
    transform: translateY(-2px);
}

img {
    margin-top: 3px;
}

.footer {
    text-align: center;
    padding-top: 0.3rem;
    text-decoration: none;
}

Link {
    text-decoration: none;
}